<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>

<form action="http://localhost:8080/api/users" method="POST">
    <table style="with: 50%">
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" 
            /></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="first_name" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="last_name"  /></td>
        </tr>
        <tr>
            <td>Organization</td>
            <td><input type="text" name="organization" /></td>
        </tr>
    </table>
    <input type="submit" value="Create" />
</form>

</body>
</html>